name: flutter

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master, dev]

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "8.0.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "dev"

      - name: Install dependencies
        run: flutter pub get
      - name: Analyze code
        run: flutter analyze --no-pub

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "8.0.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "dev"
      - name: Install dependencies
        run: flutter pub get
      - name: Build APK
        run: ANDROID_SIGNING="signing/signing.properties" flutter build apk --target-platform android-arm64
      - uses: actions/upload-artifact@v2
        with:
          name: "hu.filcnaplo.ellenorzo"
          path: build/app/outputs/apk/release/app-release.apk

